version: 2
defaults: &defaults
    docker:
      - image: docker:18.06-git        
install_dependency: &install_dependency
          name: Installation of build and deployment dependencies.
          command: |
            apk add --no-cache bash
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade
            sudo pip install docker-compose
restore_cache_settings_for_build: &restore_cache_settings_for_build
  key: docker-node-modules-la-{{ checksum "server/package-lock.json" }}

save_cache_settings: &save_cache_settings
  key: docker-node-modules-la-{{ checksum "server/package-lock.json" }}
  paths:
    - node_modules

jobs:
  # Build & Deploy against development backend
  "build-dev":
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - restore_cache: *restore_cache_settings_for_build
      - run: ./server/build.sh
      - save_cache: *save_cache_settings
      - deploy:
          name: Running MasterScript.
          command: |
            git clone --branch v1.1 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            ./master_deploy.sh -d ECS -e DEV -t latest -s groups-api -i groups-api

  # Build & Deploy against production backend
  "build-prod":
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - restore_cache: *restore_cache_settings_for_build
      - run: ./server/build.sh
      - save_cache: *save_cache_settings
      - deploy:
          name: Running MasterScript.
          command: |
            git clone --branch v1.1 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            ./master_deploy.sh -d ECS -e PROD  -t latest -s groups-api -i groups-api

workflows:
  version: 2
  build:
    jobs:
      # Development builds are executed on "develop" branch only.
      - "build-dev":
          filters:
            branches:
              only:
                - develop
      - "build-prod":
          filters:
            branches:
              only:
                - master
